footer .social-btn{
	list-style: none;
	border-bottom: 1px solid #bababa;
	padding: 0;
	text-align: center;
}

footer .social-btn li{
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

footer .social-btn li a{
	display: block;
	height: 40px;
	width: 40px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center ;
	transition: all 500ms linear;
}

footer .social-btn li a:hover{
	opacity: 0.8;
}


footer .facebook{
	background-image: url(img/002-facebook-logo.png);
}

footer .linkedin{
	background-image: url(img/003-linkedin-logo.png);
}

footer .social-btn li a.email{
	background-image: url(img/001-close-envelope.png);
	background-position: center 5px; 
}


footer h3{
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #806050;
	margin-top: 40px;
	line-height: 20px;
}

footer h4{
	margin-top: 35px;
	text-align: center;
	font-size: 14px;
	color: #9a9a9a;
}

footer h4 a{
	color: #9a9a9a;
	transition: all 500ms linear;
}

footer h4 a:hover{
	color:  #806050;
	text-decoration: none;
}


@media (max-width: 380px) {
	footer .social-btn li{
		padding: 10px 8px;
	}
	
}

@media (max-width: 750px) {
	footer h3{
		font-size: 15px;
	}
}
